h1 {
 text-align: center;
}

body {
 background-color: #bdc97c; 
}

div {
 background-color: #fff2cc;
 margin: 20px auto;
 padding: 20px;
 width: 75%;
 border-radius: 25px;
}

a {
 color: black;
 margin: 0 0 20px 0;
 font-size: 24px;
 display: block;
}

img {
 height: auto;
 width: 50%;
}
